/*
  General styling for website.
*/

@use 'animations';

$font-stack: 'Barlow', sans-serif;
$primary-color: #dcd7ce;
$secondary-color: #483f3f;
$tertiary-color: #817676;
$accent-color: #912921;

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: $primary-color;
  color: $tertiary-color;
  font-family: $font-stack;
  font-size: 16px;
  margin: 0px;
}

h1,
h2,
h3,
p,
img {
  transition: 0.5s;
}

h1 {
  color: $secondary-color;
  font-size: 144px;
  letter-spacing: var(--h1-letter-spacing);
  margin-top: 0%;
  margin-bottom: -15px;
  font-weight: 400;
}

h2 {
  color: $secondary-color;
  font-weight: bold;
  font-size: 64px;
}

h3 {
  color: $tertiary-color;
  font-weight: bold;
  font-size: 16px;
}

.section--active {
  h1 {
    --h1-letter-spacing: -8px;
    animation: fadeInExpand 1s;
  }

  h2,
  p,
  ul {
    animation: fadeInUp 1s;
  }
}

.section {
  @extend %flex;
  width: 100vw;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  max-height: fit-content;
  position: relative;
  overflow: hidden;
}

.container {
  @extend %flex;
}

a {
  color: $accent-color;

  &:visited {
    color: inherit;
  }
}

.link-list {
  list-style-type: none;
  padding-left: 0;

  li {
    margin-bottom: 24px;
    transition: 0.5s;

    a {
      text-decoration: none;

      &:visited {
        color: inherit;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .content {
    width: 40% !important;
    top: 0;
  }

  h1 {
    font-size: 72px;
    $h1-letter-spacing: -5px;
  }

  .active h1 {
    $h1-letter-spacing: -5px;
  }
}

@media only screen and (max-width: 650px) {
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 12px;
    margin-left: 5px;
  }

  .content {
    font-size: 12px;
    position: static !important;
    margin-left: auto;
    margin-right: auto;
    width: 75% !important;
  }
}
