$primary-color: #dcd7ce;
$secondary-color: #483f3f;
$tertiary-color: #817676;
$accent-color: #912921;

.project,
.illust {
  h1 {
    text-align: center;
  }

  h2,
  h3,
  p {
    margin: 12px;
  }

  p {
    align-self: flex-start;
  }

  .info {
    width: 75%;
  }

  img {
    border: 1px solid $tertiary-color;
    border-radius: 3%;
  }
}

.project {
  .description {
    .container {
      width: 100%;
    }
  }

  .container {
    flex-direction: column;
    width: 50%;
  }

  img {
    max-width: 50vw;
    max-height: 90vh;
    margin: 12px;
  }

  .process,
  .inspiration,
  .learning-outcomes {
    h2,
    h3 {
      align-self: flex-start;
    }
  }
}

.illust {
  .process {
    .container {
      align-items: flex-start;
    }

    .info {
      width: 30%;
    }
  }

  img {
    max-height: 90vh;
    max-width: 75vw;
  }
}

@media only screen and (max-width: 1200px) {
  .illust {
    .container {
      flex-direction: column;
      align-items: center !important;
    }

    .process {
      .info {
        width: 75%;
      }
    }
  }

  .project {
    img {
      max-width: 90vw;
    }

    .container {
      width: 75%;
    }
  }
}
