@use 'base';
@use 'animations';

$primary-color: #dcd7ce;
$secondary-color: #483f3f;
$tertiary-color: #817676;
$accent-color: #912921;

.scroll-indicator {
  position: absolute;
  bottom: -18px;
  left: 50%;
  margin-bottom: 0px;
  animation: floatDown 2s infinite ease-in-out;
  transition: 1s;

  .arrow-down {
    color: $accent-color;
    font-size: 64px;
  }

  &--hidden {
    opacity: 0;
  }
}
