@use 'base';
@use 'animations';

.spacer {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  margin-bottom: 48px;
  display: block;
  border: none !important;

  &--active {
    animation: spin 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s);
  }
}

@media only screen and (max-width: 1200px) {
  .spacer {
    width: 50px;
  }
}
