$font-stack: 'Barlow', sans-serif;
$primary-color: #dcd7ce;
$secondary-color: #483f3f;
$tertiary-color: #817676;
$accent-color: #912921;

.button {
  border: $tertiary-color 1px solid;
  background-color: $primary-color;
  text-align: center;
  font-family: $font-stack;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;

  a {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    cursor: pointer;
  }
}
