@keyframes bigStar {
  0% {
    transform: translate(0px, 0px) scale(0.3);
  }
  15% {
    opacity: 0;
  }
  50% {
    transform: translate(-200px, -300px) scale(1);
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) scale(0.3);
  }
}
@keyframes translateAndScale {
  0% {
    transform: translate(0px, 0px) scale(var(--firstScale));
    opacity: var(--initialOpacity);
  }
  50% {
    transform: translate(var(--xTranslate), var(--yTranslate)) scale(var(--secondScale));
    opacity: var(--finalOpacity);
  }
  100% {
    transform: translate(0px, 0px) scale(var(--firstScale));
  }
}
@keyframes fadeInUp {
  0% {
    transform: translate(0px, 25px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@keyframes fadeInExpand {
  0% {
    transform: translate(0px, 25px);
    opacity: 0;
    letter-spacing: -20px;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
    letter-spacing: var(--h1-letter-spacing);
  }
}
@keyframes skew {
  0% {
    transform: skew(0);
  }
  50% {
    transform: skew(-10deg, -30deg) scale(0.75);
  }
  100% {
    transform: skew(0);
  }
}
@keyframes floatUp {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes floatDown {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
/*
  General styling for website.
*/
.container, .section {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #dcd7ce;
  color: #817676;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  margin: 0px;
}

h1,
h2,
h3,
p,
img {
  transition: 0.5s;
}

h1 {
  color: #483f3f;
  font-size: 144px;
  letter-spacing: var(--h1-letter-spacing);
  margin-top: 0%;
  margin-bottom: -15px;
  font-weight: 400;
}

h2 {
  color: #483f3f;
  font-weight: bold;
  font-size: 64px;
}

h3 {
  color: #817676;
  font-weight: bold;
  font-size: 16px;
}

.section--active h1 {
  --h1-letter-spacing: -8px;
  animation: fadeInExpand 1s;
}
.section--active h2,
.section--active h3,
.section--active p,
.section--active ul {
  animation: fadeInUp 1s;
}

.section {
  width: 100vw;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  max-height: fit-content;
  position: relative;
  overflow: hidden;
}

a {
  color: #912921;
}
a:visited {
  color: inherit;
}

.link-list {
  list-style-type: none;
  padding-left: 0;
}
.link-list li {
  margin-bottom: 24px;
  transition: 0.5s;
}
.link-list li a {
  text-decoration: none;
}
.link-list li a:visited {
  color: inherit;
}

@media only screen and (max-width: 1200px) {
  .content {
    width: 40% !important;
    top: 0;
  }

  h1 {
    font-size: 72px;
  }
}
@media only screen and (max-width: 650px) {
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 12px;
    margin-left: 5px;
  }

  .content {
    font-size: 12px;
    position: static !important;
    margin-left: auto;
    margin-right: auto;
    width: 75% !important;
  }
}
.project h1,
.illust h1 {
  text-align: center;
}
.project h2,
.project h3,
.project p,
.illust h2,
.illust h3,
.illust p {
  margin: 12px;
}
.project .info,
.illust .info {
  width: 75%;
}
.project .process .info,
.illust .process .info {
  width: 30%;
}
.project img,
.illust img {
  border: 1px solid #817676;
  border-radius: 3%;
}

.project .container {
  flex-direction: column;
  width: 75%;
}
.project img {
  max-width: 50vw;
}
.project .process h2,
.project .process h3,
.project .inspiration h2,
.project .inspiration h3,
.project .learning-outcomes h2,
.project .learning-outcomes h3 {
  align-self: flex-start;
}

.illust .process .container {
  align-items: flex-start;
}
.illust img {
  max-height: 90vh;
  max-width: 75vw;
}

@media only screen and (max-width: 1200px) {
  .illust .container {
    flex-direction: column;
    align-items: center !important;
  }
  .illust .process .info {
    width: 75%;
  }

  .project img {
    max-width: 90vw;
  }
}

/*# sourceMappingURL=Article.css.map */
