/*
Styling for footer only.
*/

@import url(./animations.css);

#footer {
  flex-direction: column;
}

#footer h2 {
  width: 298px;
  margin-bottom: 43px;
}

.touch {
  width: 47.5%;
  transform: rotate(-4.63deg);
  margin-left: -149px;
}

.copyright {
  font-size: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.active .touch {
  animation: skew 1s ease infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}