@keyframes bigStar {
  0% {
    transform: translate(0px, 0px) scale(0.3);
  }
  15% {
    opacity: 0;
  }
  50% {
    transform: translate(-200px, -300px) scale(1);
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) scale(0.3);
  }
}
@keyframes translateAndScale {
  0% {
    transform: translate(0px, 0px) scale(var(--firstScale));
    opacity: var(--initialOpacity);
  }
  50% {
    transform: translate(var(--xTranslate), var(--yTranslate)) scale(var(--secondScale));
    opacity: var(--finalOpacity);
  }
  100% {
    transform: translate(0px, 0px) scale(var(--firstScale));
  }
}
@keyframes fadeInUp {
  0% {
    transform: translate(0px, 25px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@keyframes fadeInExpand {
  0% {
    transform: translate(0px, 25px);
    opacity: 0;
    letter-spacing: -20px;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
    letter-spacing: var(--h1-letter-spacing);
  }
}
@keyframes skew {
  0% {
    transform: skew(0);
  }
  50% {
    transform: skew(-10deg, -30deg) scale(0.75);
  }
  100% {
    transform: skew(0);
  }
}
/*
  General styling for website.
*/
.container, .section {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #DCD7CE;
  color: #817676;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

h1, h2, h3, p, img {
  transition: 0.5s;
}

h1 {
  color: #483F3F;
  font-size: 144px;
  letter-spacing: var(--h1-letter-spacing);
  margin-top: 0%;
  margin-bottom: -15px;
  font-weight: 400;
}

h2 {
  color: #483F3F;
  font-weight: bold;
  font-size: 64px;
}

h3 {
  color: #817676;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
}

.section--active h1 {
  --h1-letter-spacing: -8px;
  animation: fadeInExpand 1s;
}
.section--active h2, .section--active p, .section--active ul {
  animation: fadeInUp 2s;
}

.section {
  min-height: 100vh;
  max-height: fit-content;
  position: relative;
}

.link-list {
  list-style-type: none;
  padding-left: 0;
}

.link-list li {
  margin-bottom: 24px;
  transition: 0.5s;
}

.link-list a {
  text-decoration: none;
}

.link-list a:visited {
  color: inherit;
}

@media only screen and (max-width: 1200px) {
  .content {
    width: 40% !important;
    top: 0;
  }

  h1 {
    font-size: 72px;
  }
}
@media only screen and (max-width: 650px) {
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 12px;
    margin-left: 5px;
  }

  .content {
    font-size: 12px;
    position: static !important;
    margin-left: auto;
    margin-right: auto;
    width: 75% !important;
  }
}
/*
  Styling for Footer component.
*/
.footer {
  flex-direction: column;
}
.footer h2 {
  margin-bottom: 43px;
}
.footer__image {
  width: 47.5%;
  margin-left: -149px;
}
.footer__link-list__item:hover {
  font-size: 30px;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link-list {
  font-size: 24px;
}
.footer__link-list a {
  color: #817676;
}

.copyright {
  font-size: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.section--active .footer__image {
  animation: skew 1s ease infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

@media only screen and (min-width: 1200px) {
  .footer h2 {
    width: 298px;
  }
}
@media only screen and (max-width: 1200px) {
  .footer .container {
    flex-direction: column;
    text-align: center;
  }
  .footer__image {
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=Footer.css.map */
