.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-header img {
  width: 33.3%;
  position: absolute;
  left: 16.6%;
  bottom: 14.2%
}

#home-header .content {
  position: absolute;
  left: 48.2%;
  top: 10.2%;
}

#home-about img {
  width: 55%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#home-about .content {
  width: 28.2%;
  position: absolute;
  bottom: 15.7%;
  left: 14%;
}

#home-about h2 {
  margin-bottom: 0;
}