#nav-button {
  position: fixed;
  right: 6%;
  top: 6%;
  z-index: 20;
}

#nav-button:hover {
  cursor: pointer;
}

#nav-button img {
  margin-bottom: 13px;
  display: block;
  transition: 0.5s;
}

#nav-button .top.active {
  transform: rotate(45deg);
}

#nav-button .bottom.active {
  transform: translate(0.21px, -17.46px) rotate(-45deg);
}

#nav-view {
  background-color: rgba(72, 63, 63, 0.85);
  color: #DCD7CE;
  height: 100vh;
  width: 66%;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  justify-content: flex-end;
  transition: 0.5s;
}

#nav-view .link-list {
  font-size: 32px;
  text-align: right;
  margin-right: 20%;
}

#nav-view .link-list li:hover, .current {
  font-size: 40px;
}

#nav-view.hidden {
  transform: translate(100%, 0%);
  visibility: hidden;
}

