/*
General styling for website.
*/

body {
  background-color: #DCD7CE;
  color: #817676;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

h1 {
  color: #483F3F;
  font-size: 144px;
  letter-spacing: -7.5%;
  margin-bottom: -15px;
  font-weight: 400;
}

h2 {
  color: #483F3F;
  font-weight: bold;
  font-size: 64px;
}

h3 {
  color: #817676;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-list {
  font-size: 24px;
  list-style-type: none;
  padding-left: 0;
}

.link-list li {
  margin-bottom: 24px;
  transition: 1s;
}

.link-list li:hover {
  font-size: 30px;
}

.link-list a {
  text-decoration: none;
}

.link-list a:visited {
  color: inherit;
}
