/*
  General styling for website.
*/

@import url(./animations.css);

body {
  background-color: #DCD7CE;
  color: #817676;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

h1, h2, h3, p, img {
  transition: 0.5s;
}

h1 {
  color: #483F3F;
  font-size: 144px;
  letter-spacing: var(--letterSpacing);
  margin-bottom: -15px;
  font-weight: 400;
}

.active h1 {
  --letterSpacing: -8px;
  animation: fadeInExpand 1s;
}

.active h2, .active p, .active ul {
  animation: fadeInUp 2s;
}

h2 {
  color: #483F3F;
  font-weight: bold;
  font-size: 64px;
}

h3 {
  color: #817676;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-list {
  font-size: 24px;
  list-style-type: none;
  padding-left: 0;
}

.link-list li {
  margin-bottom: 24px;
  transition: 0.5s;
}

.link-list li:hover {
  /* font-size: 30px; */
}

.link-list a {
  text-decoration: none;
}

.link-list a:visited {
  color: inherit;
}

@media only screen and (max-width: 1200px) {
  .content {
    width: 40% !important;
    top: 0;
  } 

  h1 {
    font-size: 72px;
    --letterSpacing: -5px;
  }

  .active h1 {
    --letterSpacing: -5px;
  }
}

@media only screen and (max-width: 650px) {
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 12px;
    margin-left: 5px;
  }
  
  .content {
    font-size: 12px;
    position: static !important;
    margin-left: auto;
    margin-right: auto;
    width: 75% !important;
  }
}